.lang_wrapper{
  min-height: 1500px;
}
.oneTool{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
}

.toolAvatar{
  width: 10%;
  height: 100%;
  margin: auto;
}
.oneToolContent{
  width: 70%;
}
.oneToolBtns{
  width: 20%;
}
.toolTags{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}
.toolTagsLi{
  display: inline-block;
  margin-left: .25em;
}
.noLink{
  text-decoration: none;
}
