/* ----------------------- */
/* ONE TOOL */
.tool_wrapper {
  height: 100%;
  max-width: 1100px;
  background: #fff;
  margin: auto;
}

/* ----------------------- */
/* ONE TOOL HEADER DETAIL */
.toolHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
}

.toolDetail {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.toolDetail h1 {
  padding-top: 20px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  cursor: default;
}

.toolDetail h2 {
  margin-top: -10px;
  margin-bottom: -5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 450px;
  cursor: default;
}

.toolHeadWrapLinks {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 25px;
}

.toolSubhead {
  margin-top: 10px;
  margin-bottom: 10px;
}

.createdByShow {
  margin-top: 100px;
}

/* ----------------------- */
/* REPL.IT IFRAMED SNIPPET CONTENT */

.iframeReplIt {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.replFrame {
  border: 1px solid gray;
}

/* ----------------------- */
/* COMMENTS */
.comments_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newcomment_div {
  width: 600px;
}

.comment_form {
  width: 100%;
}

.commentInput {
  width: 80%;
}

.commentSubmit {
  width: 20%;
}

.commentSubmitBtn {
  background-color: #63cc51;
}

.commentsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.commentsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.comment {
  width: 100%;
}
