.taginfo{
  margin-left: 4em;
}
.showtags{
  margin-left: 4em;
  display: flex;
  flex-flow: row;
}
a.atag{
}

h2.h2tag{
  margin-right: 1em;
}

.replframe{
 display: block;
 margin: auto;
 text-align: center;
}
