<div class="createNewToolie">
  <h1 class="createCTA">Create a Tool...</h1>
  <p class="createSubhead">Add a URL to your favorite dev tool <br>or add a snippet to ToolieBox</p>
  <form name="newForm" class="createForm">
    <md-input-container class="md-block">
      <label>Language</label>
      <md-select name="type" ng-model="newInfo.language" required>
        <md-option ng-repeat="lang in ctrl.selectLang" value={{lang.id}}>{{lang.name}}</md-option>
      </md-select>
      <div ng-messages="newInfo.language.$error">
        <div ng-message="required">This is required</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Title</label>
      <input ng-model="newInfo.title" required>
      <div ng-messages="newInfo.title.$error">
        <div ng-message="required">Give your tool a name</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Description</label>
      <input ng-model="newInfo.description" required>
      <div ng-messages="newInfo.description.$error">
        <div ng-message="required">Tell us about it, how does it work?</div>
      </div>
    </md-input-container>
    <label>Repl.it or Link</label>
    <md-input-container class="md-block">
      <md-radio-group ng-model="newInfo.repl" ng-init="newInfo.repl='true'">
        <md-radio-button ng-click="ctrl.toggleRepl()" value="true">This Toolie has a Repl Snippet</md-radio-button>
        <md-radio-button ng-click="ctrl.toggleRepl()" value="false">This Toolie has a URL to a code example </md-radio-button>
      </md-radio-group>
    </md-input-container>
    <md-input-container ng-if="ctrl.repl" class="md-block">
      <label>Repl.it URL</label>
      <input ng-model="newInfo.repl_url" required>
      <div ng-messages="newInfo.repl_url.$error">
        <div ng-message="required">Please paste in the entire Repl.it URL</div>
      </div>
    </md-input-container>
    <md-input-container ng-if="!ctrl.repl" class="md-block">
      <label>Code Example URL</label>
      <input ng-model="newInfo.link_url" required>
      <div ng-messages="newInfo.link_url.$error">
        <div ng-message="required">Please paste in a link to where we can see a code example</div>
      </div>
    </md-input-container>
    <div class="submit">
      <md-button type="submit" ng-click="ctrl.submit(newInfo)">Submit</md-button>
    </div>
  </form>
</div>
