<md-dialog aria-label="Delete Dialog" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Delete Toolie</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog"><i class="fas fa-times"></i></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding >
    <div class="deleteDialog">
      <div class="deleteText">
        <p>Are you sure you want to delete this toolie?</p>
      </div>
      <div class="submit">
        <md-button class="md-raised" ng-click="cancel()">No, keep it</md-button>
        <md-button class="md-raised md-warn" type="submit" ng-click="submit(newInfo)">Yes, Delete</md-button>
      </div>
    </div>
  </md-content>
</md-dialog>
