<div class="nav">
  <div class="tooliebox">
    <a class="noLink" href="/"><h1>ToolieBox</h1></a>
  </div>
  <div class="navBox">
    <md-button ng-if="!ctrl.user.logged"  ng-click="ctrl.openLogin($event)">Login</md-button>
    <md-button ng-if="ctrl.user.logged" class="navWorkbench" ng-href="/workbench">Workbench</md-button>
    <p>|</p>
    <md-button ng-if="ctrl.user.logged"  ng-click="ctrl.logout">Logout</md-button>
    <md-button ng-if="!ctrl.user.logged" class="navReg" ng-click="ctrl.openRegister($event)">Register</md-button>
  </div>
</div>
