<div class="lang_wrapper">
  <div class="langHeader">
    <a href="{{ctrl.lang.dox_url}}" target="_blank">
      <div class="logo" md-whiteframe="{{height}}" ng-init="height = 10" ng-mouseenter="height = 20" ng-mouseleave="height = 10" ng-include="ctrl.lang.img_url">
      </div>
    </a>
    <div class="LangHeadWrap">
      <div class="toolStats">
        <h1>{{ctrl.lang.name}}</h1>
        <div class="LangHeadWrapTtlTools">
          <h3>Dev Tools Contributed:</h3> <h2>{{ctrl.numTools}}</h2>
        </div>
      </div>
      <div class="LangHeadWrapLinks">
        <md-button class="md-raised" ng-href="{{ctrl.lang.dox_url}}" target="_blank">Dev Documentation</md-button>
        <md-button class="createToolBtn" class="md-raised" ng-href="/toolie/create">Create a Tool</md-button>
      </div>
    </div>
  </div>
  <div class="toolsWrapper" ng-include="'partials/toolieCards.html'"></div>
  <div class="spacer"></div>
</div>
