<div class="taginfo">
  <h1>{{ctrl.tool.title}}</h1>
  <h2>{{ctrl.tool.description}}</h2>
</div>

<div class="showtags">
  <div ng-repeat="tag in ctrl.tool.tags">


<a class="atag" ng-href="/tag">
  <h2 class = "h2tag" ng-click="ctrl.selectTag(tag.id)">
    {{tag.text}}
  </h2>
</a>
</div>
</div>
<iframe class="replframe" height="400px" width="80%" ng-src= "{{ ctrl.tool.repl_url| trustUrl }}" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
