<!-- SHOW ONE TOOL HEADER DETAIL -->
<div class="tool_wrapper">
  <div class="toolHeader">
    <div class="logo" md-whiteframe="{{height}}" ng-init="height = 10" ng-mouseenter="height = 20" ng-mouseleave="height = 10" ng-include="ctrl.lang.img_url">
    </div>
    <div class="toolDetail">
      <h1>{{ctrl.tool.title}}</h1>
      <h2>{{ctrl.tool.description}}</h2>
      <md-card-title-text>
        <a class="noLink" ng-href="/toolie"><span  ng-click="ctrl.select(tool.id)" class="md-headline">{{tool.title}}</span></a>
        <span class="md-subhead"><small>Created by: {{tool.created_by}}</small></span>
        <span class="md-subhead">
          <small><ul class=toolTags>
            Tags:
            <li class="toolTagsLi" ng-repeat="tag in tool.tags"><a class="noLink" href="#">{{tag.text}},</a></li>
          </ul></small>
        </span>
      </md-card-title-text>
    </div>
    <div class="toolHeadWrapLinks">
      <md-button ng-href="/toolie" ng-click="ctrl.select(tool.id)">Add to MyBelt</md-button>
      <md-button class="md-primary" ng-href="/toolie/create">Create a Tool</md-button>
    </div>
  </div>

  <!-- REPL.IT IFRAMED SNIPPET CONTENT -->
  <div class="iframeReplIt">
    <iframe class="replFrame" height="400px" width="80%" ng-src= "{{ ctrl.tool.repl_url| trustUrl }}" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
  </div>

 <!-- COMMENTS -->
  <button class="comments_button" ng-click="ctrl.getComments()">Get Comments</button>

  <div class="comments_container">
    <style type="text/css">
    .inputImg {
      background: url('{{ctrl.user.img}}') ;
      background-size: 100% 100%;
    }
  </style>

    <div class="newcomment_div">
      <form class="comment_form" ng-submit="ctrl.postComment()">
        <button class="inputimg comment_button c_input" type="submit">
          <h2>Post Comment</h2>

        </button>
        <textarea type="text" class="comment_text c_input" ng-model="ctrl.comment.text">
      </textarea >
    </form>
  </div>


  <div class="comment" ng-repeat="comment in ctrl.comments">
    <img class="comment_img" ng-src="{{comment.user.img}}" alt="">
    <h3 class="comment_h3">{{comment.text}}</h3>
    <h3 class="comment_user">{{comment.user.username}}</h3>
  </div>
</div>

<!-- end tool container -->
</div>
