<md-dialog aria-label="Register Form" layout="column" class="md-inline-form register">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Register</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog"><i class="fas fa-times"></i></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>
  <form name="newForm">
    <md-input-container class="md-block">
      <label>Username</label>
      <input ng-model="newInfo.username" required>
      <div ng-messages="newInfo.username.$error">
        <div ng-message="required">Username is required</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Password</label>
      <input type="password" ng-model="newInfo.password" required>
      <div ng-messages="newInfo.password.$error">
        <div ng-message="required">Password is required</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Image URL</label>
      <input ng-model="newInfo.img">
      <div ng-messages="newInfo.img.$error">
        <div ng-message="required">Not required</div>
      </div>
    </md-input-container>
    <div class="submit">
      <md-button class="login-regBtns" type="submit" ng-click="submit(newInfo)">Register</md-button>
    </div>
  </form>
</md-dialog>
