<md-card class="oneTool" md-whiteframe="{{height}}" ng-init="height = 5" ng-mouseenter="height = 15" ng-mouseleave="height = 5" ng-repeat="tool in ctrl.tools | unique: 'id'">
  <div class="toolAvatar" ng-include="ctrl.lang.img_url"></div>
  <div class="oneToolContent">
    <md-card-title class="topText">
      <md-card-title-text>
        <a class="noLink" ng-href="/toolie"><span  ng-click="ctrl.select(tool.id)" class="md-headline">{{tool.title}}</span></a>
        <span class="md-subhead"><small>Created by: {{tool.created_by}}</small></span>
        <div class="toolSubHead">
          <span class="md-subhead toolSubHeadCtn"><small>Added to User's Tool Belts: ( {{tool.num_belts}} )</small></span>
        </div>
        <span class="md-subhead">
          <small><ul class=toolTags>
            Tags: 
            <li class="toolTagsLi" ng-repeat="tag in tool.tags" ng-click="ctrl.selectTag(tag.id)"><a class="noLink" href="/tag">{{tag.text}},</a></li>
          </ul></small>
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p class="toolDesc" md-truncate>{{tool.description}}</p>
    </md-card-content>
  </div>
  <md-card-actions class="oneToolBtns" layout="column" layout-align="center center">
    <md-button ng-href="/toolie" ng-click="ctrl.select(tool.id)">Show More</md-button>
    <md-button>Add to MyBelt</md-button>
  </md-card-actions>
</md-card>
