<div class="lang_wrapper workbench_wapper">
  <div class="langHeader">
    <div class="logo" md-whiteframe="{{height}}" ng-init="height = 10" ng-mouseenter="height = 20" ng-mouseleave="height = 10"><img class="userImg" src={{ctrl.user.img}} /></div>
    <div class="LangHeadWrap">
      <div class="toolStats">
        <h1>{{ctrl.user.username}}</h1>
        <div class="LangHeadWrapTtlTools">
          <h3>Dev Tools:</h3> <h2>{{ctrl.numTools}}</h2>
        </div>
      </div>
      <div class="LangHeadWrapLinks">
        <!-- <md-button ng-href="{{ctrl.lang.dox_url}}" target="_blank">Developer's Documentation</md-button>
        <md-button class="md-primary" ng-href="/toolie/create">Add a Snippet or Dev Tool</md-button> -->
      </div>
    </div>
  </div>
  <div class="toolsWrapper" ng-include="'partials/toolieCards.html'"></div>
</div>
