<div class="workbench">
  <div class="benchHeader">
    <!-- <a href="{{ctrl.lang.dox_url}}"><div class="logo" md-whiteframe="{{height}}" ng-init="height = 10" ng-mouseenter="height = 20" ng-mouseleave="height = 10" ng-include="ctrl.lang.img_url"></div></a>
    <div class="LangHeadWrap">
      <h1>{{ctrl.lang.name}}</h1>
      <div class="LangHeadWrapTtlTools">
        <h3>Dev Tools Contributed:</h3> <h2>{{ctrl.numTools}}</h2>
      </div>
      <div class="LangHeadWrapLinks">
        <md-button ng-href="{{ctrl.lang.dox_url}}" target="_blank">Developer's Documentation</md-button>
        <md-button class="md-primary" ng-href="/toolie/create">Add a Snippet or Dev Tool</md-button>
      </div>
    </div> -->
  </div>
  <div class="toolsWrapper" ng-include="'partials/toolieCards.html'"></div>
</div>
